$browser-context: 16; // Default

$desktop-width: 14.80;
$design-width: 12.80;
$tab-width: 10.24;
$mobile-width: 4.80;

$design-width-media: 1280px;
$tablet-width-media: 768px;
$mobile-width-media: 480px;


// Colors
$primary-background: #e5e7f0;
$primary-text-color: #272E41;

$primary-blue: #2A55C4;
$secondary-blue: #0289FF;

$white: #ffffff;
$black: #000000;

//Datatable variables
$table-header: 43;
$table-background: #A4A8B6;

$box-shadow: #DBE4F9;

$common-border: rgba(164, 168, 182, 0.5);

$font-default-set: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
